*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 46rem;
    min-width: 20rem;
    margin-inline: auto auto;
    margin-block-start: 30px;
}

.word-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.word-text{
    font-size: 64px;
}
.word-phonetic{
    font-size: 24px;
    color: #A445ED;
}
.word-title > img:hover{
    cursor: pointer;
}
.word-partofspeech{
    padding: 40px 0 0;
}
.partofspeech-text{
    display: inline-block;
    position: relative;
    font-size: 28px;
    padding: 0 0 32px;;
}
.partofspeech-text::after{
    content: "";
    position: absolute;
    margin-left: 20px;
    max-width: auto;
    min-width: 20rem;
    height: 1px;
    background-color: #757575;
    top: 1rem;

}
.word-partofspeech > p{
    font-size: 20px;
    padding: 0 0 16px;
    color: #757575
}
.word-meanings,.word-example{
    margin-left: 15px;
    padding-left: 24px;
}
.word-meanings{
    font-size: 18px;
    margin: 20px 0 20px;
}

.word-example{
    margin: 13px 0 13px;
    color: #757575;
    list-style-type: none;
    margin-left: 12px;
    padding-left: 24px;
    font-size: 18px;
}
.word-synonyms{
    font-size: 16px;
    padding: 24px 0 0;
    color: #757575;
}
.synonyms{
    color: #A445ED;
    margin-left: 15px;
    
}