*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --body_background:white;
    --body_color: #2D2D2D;
    --search_input_color: #f4f4f4;
}

[app-theme="dark"]{
    --body_background: #050505;
    --body_color:white;
    --search_input_color: #1f1f1f;
}

[app-font="sans-serif"]{
    --body_font: 'Inter', sans-serif;
}

[app-font="mono"]{
    --body_font: Inconsolata, monospace;
}

[app-font="serif"]{
    --body_font: Lora, serif;
}

body{
    background-color: var(--body_background);
    color: var(--body_color);
    font-family: var(--body_font);
}

.dictionary-header{
    padding: 24px 0 30px;
}
.dictionary-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    max-width: 46rem;
    min-width: 20rem;
}
.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
  /* The switch - the box around the slider */
.switch {
  /* Variables */
 --switch_width: 2em;
 --switch_height: 1em;
 --thumb_color: #e8e8e8;
 --track_color: #e8e8e8;
 --track_active_color: #888;
 --outline_color: #000;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: var(--switch_width);
 height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 box-sizing: border-box;
 border: 2px solid var(--outline_color);
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--track_color);
 transition: .15s;
 border-radius: var(--switch_height);
}

.slider:before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 height: var(--switch_height);
 width: var(--switch_height);
 border: 2px solid var(--outline_color);
 border-radius: 100%;
 left: -2px;
 bottom: -2px;
 background-color: var(--thumb_color);
 transform: translateY(-0.2em);
 box-shadow: 0 0.2em 0 var(--outline_color);
 transition: .15s;
}

input:checked + .slider {
 background-color: var(--track_active_color);
}

input:focus-visible + .slider {
 box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
 transform: translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}
.select-container{
    background-color: var(--body_background);
}
.select-option{
    background-color: black;
}

.search-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.search-input{
    
    height: 58px;
    border-radius: 20px;
    margin-inline:20px 20px;
    border-style: none;
    width: 46rem;
    background-color: var(--search_input_color);
    color: var(--body_color);
    text-indent: 15px;
    font-family: var(--body_font);
    font-weight: 700;
    font-size: 1.25rem;
    text-indent: 20px;
} 

.search-input::placeholder{
    font-family: var(--body_font);
    font-weight: 500;
    font-size: 1.25rem;
    text-indent: 20px;
}
.search-input:focus{
    outline: 1px solid #A445ED;
}
.search-icon{
    position: absolute;
    right: 25px;
}
.search-icon:hover{
    cursor: pointer;
}
.search-btn{
    width: 20vh;
}

@media screen and (max-width: 780px){
    .search-input{
        width: 26rem;
    }
    .dictionary-header{
        width: 26rem;
        margin-inline: auto auto;
    }
}
@media screen and (max-width: 460px){
    .search-input{
        width: 22rem;
        height: 50px;
        font-weight: 500;
        font-size: 14px;
        text-indent: 20px;
    }
    .dictionary-header{
        width: 22rem;
        margin-inline: auto auto;
    }
 
    .search-input::placeholder{
        font-size: 14px;
    }
}